<p>{{{content.hashtag}}}</p>
{{#img}}
    {{{img}}}
    <br/><br/><br/>
{{/img}}

<p>{{{content.summary}}}</p>
<br/>
<a target="_blank" class="btn btn-primary col-12" href="{{content.url}}">{{content.visit_link}}</a>
<br/><br/>
<p>{{content.link_source}}</p>
<p>{{content.link_published}}</p>
